/
.cont-header {
    width: 100%;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
}

.header {
    width: 1600px;
    height: 100px;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

.header-left {
    width: 800px;
    height: 100px;
    display: flex;
}

.logo-img {
    padding-left: 225px;
    padding-top: 25px;
}

.logo-link {
    text-decoration: none;
}

.logo {
    padding-left: 12px;
    padding-top: 38px;
    height: 50px;
    width: 93px;
}

.logo-text {
    font-family: Lato, sans-serif;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;
    unicode-bidi:bidi-override;
    direction:rtl;
}

.logo-text:first-letter {
    font-family: Lato, sans-serif;
    font-size: 27px;
    line-height: 32px;
    font-weight: 000;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #f16d7f;
    text-decoration: none;
}

.search {
    width: 404px;
    height: 38px;
    border: 1px solid #e6e6e6;
    border-radius: 3px 3px 3px 3px;
    float: left;
    display: flex;
    margin-top: 26px;
    margin-right: 98px;
    background-color: #ffffff;
    margin-left: 37px;
    margin-top: 32px;
}

.browse-div {
    width: 87px;
    height: 36px;
    background-color: #cdcdcc;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    position: relative;
}

.browse-menu {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin-top: 3px;
    margin-left: -30px;
}

.browse-menu:hover .browse-menu-down {
    text-decoration: none;
    list-style-type: none;
    display: block;
}

.browse-menu > li {
    position: relative;
    list-style-type: none;
}

.browse {
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222222;
    margin-top: -10px;
}

.fa {
  font-family: "FontAwesome";
  color: inherit;
}

.browse-menu-down {
     list-style-type: none;
     position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 10;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      display: none;
}

.browse-menu-down-li {
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    margin-left: -52px;
    margin-top: 10px
}

.browse-menu-down-a {
    text-decoration: none;
    list-style-type: none;
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222222;
    margin-left: 20px;
}

.input_fields_contacts {
    width: 280px;
    height: 36px;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-top: none;
    border-bottom: none;
}

.input_fields_contacts:focus {
    outline:none !important;
}

.input_submit {
    width: 37px;
    height: 38px;
    border: none;
    background: url(img/search.png) no-repeat 50% 50%;
}

.input_submit:focus {
    outline:none !important;
}

.header-right {
    width: 800px;
    height: 100px;
    display: flex;
}

.basket {
    margin-top: 38px;
    margin-left: 348px;
}

.my-acc-div {
    width: 150px;
    height: 38px;
    margin-top: 31px;
    margin-left: 26px;
    background-color: #f16d7f;
    position: relative;
}

.my-acc-menu {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin-top: 3px;
    margin-left: -10px;
}

.my-acc-menu:hover .my-acc-menu-down {
    text-decoration: none;
    list-style-type: none;
    display: block;
}

.my-acc-menu > li {
    position: relative;
    list-style-type: none;
}

.my-acc {
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-top: -10px;
}

.fa {
  font-family: "FontAwesome";
  color: inherit;
}

.my-acc-menu-down {
     list-style-type: none;
     position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 10;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      display: none;
}

.my-acc-menu-down-li {
    height: 38px;
    width: 150px;
    background-color: #f16d7f;
    margin-left: -70px;
    margin-top: 10px
}

.my-acc-menu-down-a {
    text-decoration: none;
    list-style-type: none;
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-left: 55px;
}

.menu {
    margin: 0 auto;
    width: 1600px;
    height: 51px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.links-menu {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
}

.man, .woman, .kids-menu, .accoseriese, .featured, .hot-deals {
    padding-left: 46px;
}

.brand {
    margin: 0 auto;
    height: 665px;
    width: 1600px;
    background-image: url(img/brande_img.png);
}

.cont-brand {
    width: 100%;
    background-color: #e8e8e8; 
}

.brand-container {
    padding-top: 224px;
    padding-left: 230px;
    float: left;
}

.rectangle {
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    margin-top: 15px;
    float: left;
}

.the-brand {
    font-family: Lato, sans-serif;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
    margin-left: 25px;
}

.of-luxerious {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    font-family: Lato, sans-serif;
    color: #222222;
    display: flex;
    margin-top: -5px;
    margin-left: 25px;
}

.fashion {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    font-family: Lato, sans-serif;
    color: #f16d7f;
    padding-left: 10px
}

.content-menu {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.content-menu-links {
    text-decoration: none;
}

.content-menu-left {
    height: 1020px;
    width: 800px;
    float: left;
    text-decoration: none;
}

.for-men {
    background-image: url(img/for_men.jpg);
    height: 542px;
    width: 560px;
    margin-left: 230px;
    margin-top: 98px;
    display: flex;
}

.men-container {
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
}

.hot-deal {
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-left: 19px;
    padding-top: 16px;
}

.men {
    font-family: Lato, sans-serif;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 30px;
    color: #f16d7f;
    margin-left: 18px;
}

.accesories {
    background-image: url(img/accesories.png);
    height: 261px;
    width: 560px;
    margin-left: 230px;
    margin-top: 20px;
    display: flex;
}

.accesories-container {
    width: 225px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 25px;
}

.luxirous-trendy {
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-left: 19px;
    padding-top: 16px;
}

.acces {
    font-family: Lato, sans-serif;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 30px;
    color: #f16d7f;
    margin-left: 18px;
}

.content-menu-right {
    height: 1020px;
    width: 800px;
    float: right;
}

.for-women {
    background-image: url(img/for_woman.png);
    height: 261px;
    width: 560px;
    margin-left: 10px;
    margin-top: 98px;
    display: flex;
}

.women-container {
    width: 162px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 26px;
}

.offer {
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-left: 18px;
    padding-top: 16px;
}

.women {
    font-family: Lato, sans-serif;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 30px;
    color: #f16d7f;
    margin-left: 18px;
}

.for-kids {
    background-image: url(img/for_kids.png);
    height: 542px;
    width: 560px;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
}

.kids-container {
    width: 180px;
    height: 82px;
    background-color: #ffffff;
    margin-top: 27px;
}

.new-arrivals {
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-left: 18px;
    padding-top: 16px;
}

.kids {
    font-family: Lato, sans-serif;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-left: 18px;
}

.fetured-it {
    width: 1600px;
    height: 118px;
    background-color: white;
    margin: 0 auto;
}

.fetured-items {
    font-family: Lato, sans-serif;
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    text-align: center;
}

.shop-f-item {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    text-align: center;
    margin-top: -20px;
}

.products {
    height: 720px;
    width: 1600px;
    margin: 0 auto;
}

.products-up {
    height: 330px;
}

.products-up1 {
    display: flex;
    list-style-type: none;
}

.prod-1 {
    position: relative;
}

.product-1:hover {
    filter: brightness(50%)
}

.prod-1:hover div.buy-now {
    display: block;
}

.product-1 {
    margin-left: 232px;
}

.buy-now {
    position: absolute;
    width: 123px;
    height: 39px;
    border: 1px solid black;
    margin-left: 300px;
    margin-top: -150px;
    display: none;
}

.add_basket {
    float: left;
    margin-left: 12px;
    margin-top: 10px;
}

.buy-now-text {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-left: 8px;
}

.product-2 {
    margin-left: 32px;
}

.product-2:hover {
    filter: brightness(50%)
}

.prod-2 {
    position: relative;
}
.prod-2:hover div.buy-now-2 {
    display: block;
}

.buy-now-2 {
    position: absolute;
    width: 123px;
    height: 39px;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: -150px;
    display: none;
}

.product-3 {
    margin-left: 32px;
}

.product-3:hover {
    filter: brightness(50%)
}

.prod-3 {
    position: relative;
}
.prod-3:hover div.buy-now-3 {
    display: block;
}

.buy-now-3 {
    position: absolute;
    width: 123px;
    height: 39px;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: -150px;
    display: none;
}

.product-4 {
    margin-left: 32px;
}

.product-4:hover {
    filter: brightness(50%)
}

.prod-4 {
    position: relative;
}
.prod-4:hover div.buy-now-4 {
    display: block;
}

.buy-now-4 {
    position: absolute;
    width: 123px;
    height: 39px;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: -150px;
    display: none;
}

.products-up2 {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.mango-people-1 {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    height: 47.5px;
    width: 261px;
    margin-left: 232px;
    margin-top: 3px;
    padding-left: 10px;
    text-decoration: none;
}

.mango-people-2 {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    height: 47.5px;
    width: 261px;
    margin-left: 32px;
    margin-top: 3px;
    text-decoration: none;
}

.mango-people-3 {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    height: 47.5px;
    width: 261px;
    margin-left: 32px;
    margin-top: 3px;
    text-decoration: none;
}

.mango-people-4 {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    height: 47.5px;
    width: 261px;
    margin-left: 32px;
    margin-top: 3px;
    text-decoration: none;
}

.products-up3 {
    display: flex;
    list-style-type: none;
}

.sell-1 {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    height: 18px;
    width: 261px;
    padding-left: 10px;
    margin-left: 232px;
    margin-top: -20px;
    text-decoration: none;
}

.sell-2 {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    height: 18px;
    width: 261px;
    margin-left: 32px;
    margin-top: -20px;
    text-decoration: none;
}

.sell-3 {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    height: 18px;
    width: 261px;
    margin-left: 32px;
    margin-top: -20px;
    text-decoration: none;
}

.sell-4 {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    height: 18px;
    width: 261px;
    margin-left: 32px;
    margin-top: -20px;
    text-decoration: none;
}

.products-down {
    height: 390px;
    margin-top: 50px;
}

.products-down1 {
    list-style-type: none;
    display: flex;
}

.product-5 {
    background-image: url(img/products/product_5.jpg);
    height: 280px;
    width: 261px;
    margin-left: 232px;
}

.product-5:hover {
    filter: brightness(50%)
}

.prod-5 {
    position: relative;
}
.prod-5:hover div.buy-now-5 {
    display: block;
}

.buy-now-5 {
    position: absolute;
    width: 123px;
    height: 39px;
    border: 1px solid black;
    margin-left: 300px;
    margin-top: -150px;
    display: none;
}
.product-6 {
    background-image: url(img/products/product_6.jpg);
    height: 280px;
    width: 261px;
    margin-left: 32px;
}
.product-6:hover {
    filter: brightness(50%)
}

.prod-6 {
    position: relative;
}
.prod-6:hover div.buy-now-6 {
    display: block;
}

.buy-now-6 {
    position: absolute;
    width: 123px;
    height: 39px;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: -150px;
    display: none;
}

.product-7 {
    background-image: url(img/products/product_7.jpg);
    height: 280px;
    width: 261px;
    margin-left: 32px;
}

.product-7:hover {
    filter: brightness(50%)
}

.prod-7 {
    position: relative;
}
.prod-7:hover div.buy-now-7 {
    display: block;
}

.buy-now-7 {
    position: absolute;
    width: 123px;
    height: 39px;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: -150px;
    display: none;
}

.product-8 {
    background-image: url(img/products/product_8.jpg);
    height: 280px;
    width: 261px;
    margin-left: 32px;
}

.product-8:hover {
    filter: brightness(50%)
}

.prod-8 {
    position: relative;
}
.prod-8:hover div.buy-now-8 {
    display: block;
}

.buy-now-8 {
    position: absolute;
    width: 123px;
    height: 39px;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: -150px;
    display: none;
}
.browse-all-product {
    margin: 0 auto;
    height: 240px;
    width: 1600px;
    display: flex;
    position: relative;
}

.browse-all-link {
    position: absolute;
    width: 212px;
    height: 48px;
}

.browse-all-button {
    background-color: #f16d7f;
    display: flex;
    margin-top: 79px;
    margin-left: 649px;
    width: 212px;
    height: 48px;
    position: relative;
}

.browse-all-button-1 {
    
}

.browse-all-button:hover {
    background-color: #ffffff;
    border: 1px solid #f16d7f;
}

.browse-all-button:hover .browse-all-text {
    background-color: #ffffff;
    color: #f16d7f;
}

.browse-all-text {
    font-family: Lato;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-left: 24px;
    margin-top: 0px;
    text-decoration: none;
}

.slider {
    margin: 0 auto;
    display: flex;
    width: 1600px;
}

.slider-left {
    width: 767px;
    height: 529px;
    padding-left: 229px;
    position: relative;
}

.img-slider {
    position: absolute;
}

.discount {
    position: absolute;
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-left: 39px;
    padding-top: 146px;
}

.slider-offer {
    position: absolute;
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    padding-left: 159px;
    padding-top: 146px;
}

.slider-for-woman {
    position: absolute;
    font-family: Lato;
    font-size: 32.2px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-left: 39px;
    padding-top: 206px;
}

.slider-right {
    width: 373px;
    height: 529px;
    background-color: #222224;
}

.slider-right-1 {
   height: 176px;
   display: flex; 
}

.slider-right-1-left {
    width: 110px;
    height: 176px;
}

.img-slider-right-left {
    margin-left: 36px;
    margin-top: 48px;
}

.slider-right-1-right {
    width: 263px;
    height: 176px;
}

.slider-p-up {
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin-top: 55px;
}

.slider-p-down {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin-top: -15px;
}

.slider-right-2{
   height: 176px;
    display: flex;
}

.slider-right-2-left {
    width: 110px;
    height: 176px;
}

.slider-right-2-right {
    width: 263px;
    height: 176px;
}

.slider-right-3 {
   height: 176px;
    display: flex;
}

.slider-right-3-left {
    width: 110px;
    height: 176px;
}

.slider-right-3-right {
    width: 263px;
    height: 176px;
}

.reviews {
    margin: 97px auto;
    width: 1600px;
    display: flex;
    background-image: url(img/reviews.jpg)
}

.reviews-left {
    width: 800px;
    display: flex;
}

.reviews-left-left {
    
}

.reviews-img {
    padding-left: 230px;
    padding-top: 111px;
}

reviews-left-right {
    
}

.reviews-left-p {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
    margin-top: 123px;
    margin-left: 28px;
}

.bin-burhan {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-left: 28px;
}

.dhaka-bd {
    font-family: Lato;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222224;
    margin-left: 28px;
}

.reviews-slider-links {
    display: flex;
    margin-top: 41px;
    margin-left: 28px;
}

.reviews-slider-1-link {
    width: 38px;
    height: 4px;
    display: block;
}

.reviews-slider-1 {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.reviews-slider-1:hover {
    background-color: #f16d7f;
}

.reviews-slider-2-link {
    width: 38px;
    height: 4px;
    display: block;
}

.reviews-slider-2 {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-left: 13px;
}

.reviews-slider-2-active {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
    margin-left: 13px;
}

.reviews-slider-2:hover {
    background-color: #f16d7f;
}

.reviews-slider-3-link {
    width: 38px;
    height: 4px;
    display: block;
}

.reviews-slider-3 {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-left: 26px;
}

.reviews-slider-3:hover {
    background-color: #f16d7f;
}

.reviews-right {
    width: 800px;
    height: 430px;
}

.subscribe {
    font-family: Lato;
    font-size: 24px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    margin-top: 125px;
    margin-left: 210px;
}

.for-our {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0.025em;
    color: #222224;
    margin-top: -10px;
    margin-left: 140px;
}

.reviews-search {
    display: flex;
    width: 380px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px;
    border: none;
    margin-left: 92px;
    margin-top: 35px;
}

.reviews-input_fields_contacts {
    width: 280px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px 0px 0px 23px;
    border: none;
    float: left;
    padding: 0 28px;
}

.reviews-input_fields_contacts:hover {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
}

.reviews-input_fields_contacts:focus {
    outline:none !important;
}

.reviews-input_submit {
    margin-top: -5px;
    margin-left: -5px;
}

.reviews-search-subscribe {
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    border-radius: 0px 23px 23px 0px;
    width: 100px;
    height: 46px;
    border: none;
    background-color: #f16d7f;
    margin-left: -0px;
    margin-top: -0px
}

.reviews-search-subscribe:hover {
    color: #f16d7f;
    border: 1px solid;
    border-color: #f16d7f;
    background-color: #ffffff;
}

.reviews-search-subscribe:focus {
    outline:none !important;
}

.footer {
    margin: 0 auto;
    margin-top: -100px;
    width: 1600px;
    display: flex;
}

.footer-1 {
    width: 720px;
    height: 458px;
}

.footer-logo-name {
    display: flex;
}

.footer-logo-img {
    padding-left: 228px;
    padding-top: 109px;
}

.footer-logo-link {
    text-decoration: none;
}

.footer-logo {
    padding-left: 13px;
    padding-top: 120px;
    height: 50px;
    width: 93px;
}

.footer-brand {
    font-family: Lato, sans-serif;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;
    unicode-bidi:bidi-override;
    direction:rtl;
}

.footer-brand:first-letter {
    font-family: Lato, sans-serif;
    font-size: 27px;
    line-height: 32px;
    font-weight: 000;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #f16d7f;
    text-decoration: none;
}

.footer-1-p1 {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    margin-top: 29px;
    margin-left: 229px;
}

footer-2-p2 {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
}
.footer-2-p2 {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    margin-top: 35px;
    margin-left: 229px;
}

.footer-2 {
    width: 235px;
    height: 458px;
}

.footer-2-p {
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    margin-top: 123px;
}

.footer-ul {
    list-style-type: none;
    text-decoration: none;
}

.footer-ul-li {
    margin-top: 30px;
    margin-left: -40px;
}

.footer-ul-li-1 {
    margin-top: -15px;
    margin-left: -40px;
}

.footer-ul-li-links {
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    line-height: 59px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
}

.footer-3 {
    width: 225px;
    height: 458px;
}

.footer-down {
    margin: 0 auto;
    width: 1600px;
    height: 79px;
    background-color: #e6e6e6;
    display: flex;
}

.copirate {
    font-family: Lato;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
    padding-left: 228px;
    padding-top: 17px;
}

.icons {
    display: flex;
}

.icons-ul {
    list-style-type: none;
    display: flex;
    margin-left: 682px;
    margin-top: 24px; 
}

.icons-li {
    margin-left: 8px;
}

.size-icons {
    font-size: 35px;
    color: #ffffff;
}

.size-icons:hover {
    color: #f16d7f;
}
.my-acc-div-link {
    position: absolute;
    float: left;
    width: 150px;
    height: 38px;
}

.browse-div-link {
    position: absolute;
    width: 87px;
    height: 36px;
}

.browse-all-product-link {
    position: absolute;
    height: 240px;
    width: 1600px;
}
